<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/router.xml">
    <router id="standard">
        <route id="timenow" frontName="timenow">
            <module name="Magenteiro_TimeNow"/>
        </route>
        <route id="test" frontName="test">
            <module name="Magenteiro_TimeNow"/>
        </route>
    </router>
</config>
